name: Kilter Climb Tracker

on:
  schedule:
    - cron: '0 9 * * 1'  # Runs every Monday at 9 AM UTC
  workflow_dispatch:  # Allows manual triggering from GitHub Actions UI

jobs:
  update-climbs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Climb Tracker
      env:
        SHEET_ID: ${{ secrets.SHEET_ID }}
      run: |
        python boardlib/boardlib.py
